<!doctype html>
<html lang="en">
    <head>
        <title>
            Todo Lists
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>{% for list in todo_lists %}
                    <td>{{ list.name }}</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
